:root{
    --main-color:rgb(22, 22, 22);
    --second-color: rgb(255, 187, 0);
    --third-color: rgb(156, 0, 0);
    --modal-main-color: rgba(22, 22, 22, 0.75);
    --modal-second-color: rgb(255, 187, 0, 0.75);
    --modal-third-color: rgba(156,0,0,0.75);

}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.body-child{
    width: 100vw;
}

header{
    background-image: linear-gradient(var(--main-color), var(--third-color));
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 98;
}

aside{
    position: fixed;
    width: 100vw;
    height: 4rem;
    z-index: 110;
    bottom: 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(transparent 10%, var(--modal-main-color) 20%, var(--main-color) 70%);
    /* background-color: var(--modal-main-color); */
}

aside *{
    height: 3rem;
    margin: auto;
}


.btn{
    background-color: white;
    color: var(--main-color);
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    bottom: 1rem;
    font-size: 1rem;
}

.btn-menu{
    font-size: 1.5rem;
    padding: 0.8rem;
    right: 2rem;
    z-index: 110;
}

.back, .next{
    padding: 1rem;
}
#music{
    height: 3rem;
    z-index: 100;
    bottom: 1rem;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: var(--modal-main-color);
    z-index: 105;
    font-size: 2rem;
    font-weight: bold;
    transform: translateX(200%);
    transition: all 0.3s ease-in-out;
}

nav.active{
    transform: translateX(0);
}

.link{
    width: 100vw;
    background-color: var(--modal-main-color);
    color: var(--second-color);
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

footer{
    background-image: linear-gradient(var(--third-color),var(--main-color));
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 98;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-color);
    color: white;
    width: 100vw;
}

.gallery{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}

.imgs{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: auto;
}

.imgs figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: min-content;
    margin: 1rem auto;
    padding: 0.3rem;
    background-color: var(--third-color);
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.imgs figure figcaption{
    color: inherit;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 auto;
    align-self: flex-end;
}

.imgs figure img{
    height: 300px;
    width: auto;
}

.imgs figure:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

@media only screen and (max-width: 580px) {
    .imgs figure img{
        height: 150px;
        width: auto;
    }
}